<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="mars.nomad.com.b0_generaltemplate">

    <application>
        <activity android:name="mars.nomad.com.b0_generaltemplate.ActivityGeneralTemplate">
        </activity>
        <activity android:name=".Test.ActivityActivityTest" />
        <activity android:name=".YJK.ActivityYJK" />
    </application>

</manifest>